.filter {
    background-color: $accentColor;
    border-radius: 25px;
    padding: 8px;
    display: flex;
    gap: 10px;
    margin-bottom: 50px;

    &__button {
        display: block;
        padding: 5px 15px;
        color: white;
        min-width: 75px;
        text-align: center;
        font-weight: 600;
        text-transform: uppercase;
        cursor: pointer;

        &--active {
            background-color: white;
            color: $accentColor;
            border-radius: 25px;
        }
    }
}
