.header {
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
    margin-bottom: 100px;

    &__logo {
        width: 64px;
    }

    &__nav {
        display: flex;
        gap: 40px;
        align-items: center;
        & a {
            font-weight: 800;
        }

        & a.active {
            border-bottom: 3px solid $accentColor;
        }

        & a.inactive {
            border-bottom: 3px solid transparent;
        }

        & a.active,
        & a.inactive {
            padding-bottom: 6px;
            transition: 0.3s;
        }

        & a.inactive:hover {
            border-color: lighten($accentColor, 35%);
        }
    }
}
