.banner {
    display: flex;
    align-items: flex-end;
    background-color: $primaryBackgroundColor;
    min-height: 340px;
    height: 50vh;
    max-height: 500px;
    overflow: hidden;

    &__container {
        display: flex;
        align-items: flex-end;
    }

    &__content {
        padding-left: 60px;
        width: 60%;
        margin-bottom: 60px;
        animation: moveLeft 0.5s forwards;
    }

    &__welcome {
        color: $accentColor;
        font-size: 30px;
        font-weight: 700;
        margin-bottom: 40px;
    }

    &__title {
        margin-top: 12px;
        display: block;
        color: $secondaryTextColor;
        font-size: 48px;
        font-weight: 800;
        line-height: 85%;
    }

    &__image {
        display: flex;
        align-items: flex-end;

        & img {
            width: 100%;
            transform: translateX(2000px);
            animation: moveRight 0.5s 0.2s forwards;
        }
    }
}

@keyframes moveRight {
    0% {
        transform: translateX(2000px);
    }
    100% {
        transform: translateX(0px);
    }
}

@keyframes moveLeft {
    0% {
        transform: translateX(-2000px);
    }
    100% {
        transform: translateX(0px);
    }
}
