.banner {
    display: flex;
    align-items: flex-end;
    background-color: $primaryBackgroundColor;
    min-height: 340px;
    height: 50vh;
    max-height: 500px;

    &__container {
        display: flex;
        align-items: flex-end;
    }

    &__content {
        padding-left: 60px;
        width: 60%;
        margin-bottom: 60px;
    }

    &__welcome {
        color: $accentColor;
        font-size: 30px;
        font-weight: 700;
        margin-bottom: 40px;
    }

    &__title {
        margin-top: 12px;
        display: block;
        color: $secondaryTextColor;
        font-size: 48px;
        font-weight: 800;
        line-height: 85%;
    }

    &__image {
        display: flex;
        align-items: flex-end;

        & img {
            width: 100%;
        }
    }
}
