.header {
    background-color: $primaryBackgroundColor;
    position: sticky;
    top: 0;
    z-index: 100;
    padding: 15px 0;

    &--sticky {
        box-shadow: 0 6px 16px $shadowColor;
    }

    &__container {
        display: flex;
        justify-content: space-between;
    }

    &__logo {
        width: 64px;
    }

    &__nav {
        display: flex;
        gap: 40px;
        align-items: center;
        & a {
            font-weight: 800;
        }

        & a.active {
            border-bottom: 3px solid $accentColor;
        }

        & a.inactive {
            border-bottom: 3px solid transparent;
        }

        & a.active,
        & a.inactive {
            padding-bottom: 6px;
            transition: 0.3s;
        }

        & a.inactive:hover {
            border-color: lighten($accentColor, 35%);
        }
    }
}
