body,
button {
    font-family: 'Nunito', sans-serif;
}

button {
    border: none;
    background: none;
}

body,
ul,
li,
a,
p,
h1,
h2,
h3,
h4,
button {
    margin: 0;
    padding: 0;
    font-weight: 400;
    font-size: 20px;
    color: $primaryTextColor;
}

a {
    text-decoration: none;
}

h2 {
    font-size: 50px;
    font-weight: 800;
}

strong {
    font-weight: 700;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 50px;
}

.hidden {
    opacity: 0;
}
