$primaryTextColor: #111111;
$secondaryTextColor: rgba(170, 37, 66, 0.5);
$primaryBackgroundColor: #ffe8bc;
$secondaryBackgroundColor: #f5f5f7;
$accentColor: rgb(170, 37, 66);
$shadowColor: rgba(0, 0, 0, 0.15);
